<div class="sidebar-content">
    <div class="sidebar-item">
        <h3>Projeler</h3>
        <ul>
            <li><h4>Project 1</h4></li>
            <li><h4>Project 2</h4></li>
        </ul>
    </div>
    <div class="sidebar-item">
        <h3>Filtreler</h3>
        <ul>
            <li><h4>All</h4></li>
            <li><h4>Active</h4></li>
            <li><h4>Completed</h4></li>
        </ul>
    </div>
    <div class="sidebar-item">
        <h3>İstatistikler</h3>
        <ul>
            <li><h4>Total Tasks: 10</h4></li>
            <li><h4>Active Tasks: 5</h4></li>
            <li><h4>Completed Tasks: 5</h4></li>
        </ul>
    </div>
</div>